certifi==2019.6.16
chardet==3.0.4
cycler==0.10.0
idna==2.8
kiwisolver==1.1.0
matplotlib==3.1.1
numpy==1.17.3
Pillow==6.2.0
pyparsing==2.4.2
python-dateutil==2.8.0
qrcode==6.1
requests==2.22.0
six==1.12.0
slackbot==0.5.3
slacker==0.13.0
urllib3==1.25.3
websocket-client==0.44.0
